
.ui-page, .ui-content { 
    background-image: url(../img/heavens_rays1.jpg) !important; 
    background-size:cover !important;
    -webkit-backface-visibility: hidden !important; 
}

h1{
	color: white;
	padding: 20px;
	
}
p{
	color: #eaedee;
}
h4{
	color: white;
}
#frontPageList{
	text-align: center;
	
}
a{
	text-align: center;
	color: black;
	
}

#photos { margin-left: 100px; text-align: center; }
#photos .p { float: left; width: 170px; display: inline-block; position: relative; margin-right: 20px; margin-bottom: 12px; }

#photos .p img { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

#photos .p .fullsize { width: 32px; height: 32px; display: block; margin-left: 70px; margin-bottom: 5px; }
