
.ui-page, .ui-content { 
    background-image: url(../img/heavens_rays1.jpg) !important; 
    background-size:cover !important;
    -webkit-backface-visibility: hidden !important; 
}

h1{
	color: white;
}
p{
	color: white;
}
h4{
	color: white;
}
#frontPageList{
	text-align: center;
	
}
a{
	text-align: center;
	color: black;
	
}

#instaCam{
	color: red !important;
}